*{
    padding: 0;
    margin: 0;
    
}
 body{
    background-image:url('./images/blurry-gradient-haikei.png');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
} 
/* #parent1 {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
} */ 

nav{
     height: 50px;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Jost', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
}
.logo{
    color: aliceblue;
}
ul{
    display: flex;
    gap: 10px;
    list-style: none;
    align-items: center;
}

a{
    text-decoration: none;
    color: beige;
}

ul li button{
    background-color: darkblue;
    border-radius: 8px;
    border: solid 0px;
    padding: 5px;
    width: 100px;
}
.section1{
    
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;

}
.part1{
    width: 350px;
    height: 400px;
  

}

.part1 h1{
    margin-top: 15px;
    color: #eee;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 40px;
}
.paragh{
    margin-top: 40px;
    
    color: #eee;
    font-family: 'Space Grotesk', sans-serif;
   
}
.part1 button{
    margin-top: 20px;
    margin-left: 7px;
    padding: 6px;
    color: #eee;
    
    background-color: green;
    border-radius: 20px;
    border: none;
    width: 150px;
    font-family: 'Space Grotesk', sans-serif;
}
form{
    width: 350px;
    height: 350px;
    background-color: #ece5dd;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    border-radius: 10px;
    row-gap: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    box-shadow: 2px 2px 5px black;
}
 form h1{
    text-align: center;
    color: black;
    margin-top: -100px;
   
    font-family: 'Jost', sans-serif;
    font-family: 'Space Grotesk', sans-serif;

}
.fa{
    
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    gap: 10px;
    color: red;
    width: 100%;
    padding: 10px;

}    
.fa input{
    padding: 6px;
    height: 20px;
    border-radius: 2px;
    border: none;
    background-color: #d2cbd3;
    

}
::placeholder{
    color: #2D2D2D;
    font-family: 'Jost', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
    padding-left: 5px;
    

}
.fa select{
    height: 32px;
    border-radius: 2px;
    border: none;
    background-color: #d2cbd3;
    font-family: 'Jost', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
    padding: 5px;
    color: #2D2D2D;

}
.fa button{
    height: 32px;
    border-radius: 20px;
    border: none;
    background-color: #0404FC;
    font-family: 'Jost', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
    padding: 5px;
    box-shadow: 2px 2px 5px black;
    color: #ece5dd;
}
